[submodule "Gimu/ThirdParty/spdlog"]
	path = Gimu/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Gimu/ThirdParty/GLFW"]
	path = Gimu/ThirdParty/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Gimu/ThirdParty/imgui"]
	path = Gimu/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Gimu/ThirdParty/eigen"]
	path = Gimu/ThirdParty/eigen
	url = https://gitlab.com/libeigen/eigen.git
