[submodule "Gimu/ThirdParty/spdlog"]
	path = Gimu/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Gimu/ThirdParty/GLFW"]
	path = Gimu/ThirdParty/GLFW
	url = https://github.com/glfw/glfw.git
